@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none
}
/*Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, select, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Inter', sans-serif;
}
body {
	font-size: 100%;
	font-family: 'Inter', sans-serif;
	background: #f8f8f8
}
/*common*/
.no-overflow {
	overflow: hidden
}
.left {
	float: left
}
.right {
	float: right
}
.clear:after {
	display: block;
	content: "";
	clear: both
}
.show {
	display: block
}
.hide {
	display: none
}
.inline {
	display: inline-block
}
.ucase {
	text-transform: uppercase
}
.calign {
	text-align: center
}
.ralign {
	text-align: right
}
.malign {
	vertical-align: middle
}
.justify {
	text-align: justify
}
.box {
	box-sizing: border-box
}
.relative {
	position: relative
}
.container {
	padding: 3em
}
.container2 {
	padding: 0 0 0 1.5em
}
.container3 {
	padding: 24px
}
.mauto {
	margin: auto
}
.mwidth {
	max-width: 100%;
	height: auto;
	margin: auto
}
.relpar {
	height: 0;
	width: 100%;
	position: relative
}
.switch {
	display: block
}
.lheight {
	line-height: 1.5
}
.lspace {
	letter-spacing: 2px
}
.brred {
	border: 5px solid #ba105f
}
.button {
	padding: 10px;
	line-height: 1;
	display: block;
	margin: 15px 0;
	border: 1px solid #fff
}
.fixed-mid-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%)
}
.fixed-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%)
}
.fixed-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%)
}
/*text*/
h1 {
	line-height: 1;
	font-size: 1.3em
}
h2, h3, h4, h5 {
	font-size: 1.5em
}
p, h6 {
	margin: 10px 0;
	line-height: 1.75
}
small {
	font-size: 0.85em
}
.bigger {
	font-size: 1.25em
}
.bigtxt {
	font-size: 3em;
	line-height: 1.3
}
blockquote {
	font-size: 1.1em;
	margin: 25px auto;
	font-style: normal;
	color: #666;
	padding: 1em 1em 1em 2.2em;
	border-left: 5px solid #231f20;
	line-height: 1.6;
	position: relative;
	background: #fff;
}
blockquote::before {
	font-family: Arial;
	content: "\201C";
	color: #666;
	font-size: 3em;
	position: absolute;
	left: 15px;
	top: -10px;
}
blockquote::after {
	content: '';
}
a.morelink {
	text-decoration: none;
	outline: none;
	color: #e52c58
}
.morecontent span {
	display: none
}
.breakthrough {
	text-decoration: line-through;
	padding: 0 10px
}
.pstatus {
	font-size: .9em;
	float: left;
	width: 32.33%;
	margin: 15px 1% 15px 0;
	line-height: 2
}
.pstatus span {
	margin-right: 5px;
	padding: 0 10px;
	display: inline-block
}
.consec {
	line-height: 3
}
/*color*/
.white {
	color: #fff
}
.black {
	color: #000
}
.gray {
	color: #888
}
.green {
	color: #231f20
}
.blue {
	color: #005ca6
}
.red {
	color: #e52c58
}
.golden {
	color: #D5AD6D;
	background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bg-white {
	background: #fff
}
.bg-gray {
	background: #eee
}
.bg-black {
	background: #222
}
.bg-blue {
	background: #005ca6
}
.bg-green {
	background: #231f20
}
.bg-red {
	background: #e52c58
}
/*header*/
header {
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	position: fixed;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1)
}
header .logo {
	height: 50px;
	width: auto;
	display: block
}
header .contact {
	font-size: 1.4em;
	line-height: 50px;
	padding: 0 10px;
	font-family: sans-serif
}
.menu {
	height: 20px;
	padding: 15px;
	cursor: pointer
}
.menu i {
	font-size: 1.25em;
	line-height: 1;
	color: #666
}
/* navigation */
nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	padding: 25px;
	z-index: 101;
	background: rgba(0,0,0,.85);
	display: none;
	box-shadow: 0 0 25px rgba(0,0,0,5)
}
nav ul {
	list-style: none;
	display: block;
	margin: 20px 0 0 0;
	font-size: 1em
}
nav ul li {
	display: block;
	list-style: none;
}
nav ul li a {
	display: block;
	padding: 10px 0;
	color: #fff;
	border-bottom: 1px solid #999;
	transition: all .2s
}
.closemenu {
	position: absolute;
	top: 20px;
	right: 30px;
	color: #fff;
	font-size: 1.25em;
	cursor: pointer;
	z-index: 102
}
/*Home*/
.home {
	width: 100%;
	margin-top: 50px
}
.proname {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	text-shadow: 0 0 2px rgba(0,0,0,1)
}
.proname p {
	line-height: 1.5
}
.rmore {
	position: absolute;
	bottom: -25px;
	line-height: 1
}
.rmore span {
	font-size: 10px
}
.stats {
	display: block;
	list-style: none;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,.1)
}
.stats li {
	width: 50%;
	padding-left: 60px;
	float: left;
	display: block;
	line-height: 1.5;
	height: 100px;
	position: relative;
	box-sizing: border-box
}
.stats li i {
	font-size: 3em;
	position: absolute;
	left: 0
}
.stats li span {
	margin-bottom: 3px;
	font-weight: 700;
	display: inline-block;
	border-bottom: 1px solid rgba(255,255,255,.1)
}
/*content*/
.col-80 {
	width: 80%
}
.col-75 {
	width: 75%
}
.col-70, .col-7x {
	width: 70%
}
.col-65 {
	width: 65%
}
.col-60 {
	width: 60%
}
.col-50 {
	width: 50%
}
.col-40 {
	width: 40%
}
.col-35 {
	width: 35%
}
.col-33 {
	width: 33.333%
}
.col-30, .col-3x {
	width: 30%
}
.col-25 {
	width: 25%
}
.col-20 {
	width: 20%
}
.row-100 {
	height: 100vh
}
.row-50 {
	height: 50vh
}
/*gallery*/
.gallery {
	display: block
}
.gallery img {
	display: block;
	width: 100%;
	height: auto
}
/*table*/
table {
	width: 100%;
	margin: 25px auto;
	border-spacing: 0;
	background: #fff;
	border-collapse: separate
}
table td, table th {
	text-align: center;
	padding: 15px 0;
	width: 25%;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd
}
table th {
	border-bottom: 1px solid rgba(0,0,0,.2);
	border-top: 1px solid #ddd
}
table td:first-child, table th:first-child {
	border-left: 1px solid #ddd
}
.bbox1 {
	border: 5px solid #005ca6;
	border-bottom: 1px solid #ddd
}
.bbox2 {
	border: 5px solid #005ca6;
	border-bottom: 1px solid #ddd;
	border-top: none
}
.bbox3 {
	border: 5px solid #005ca6;
	border-top: none
}
.table {
	width: 100%;
	border-spacing: 5px;
	border: 0;
	border-collapse: separate;
	background: none
}
.table tr th {
	text-align: center;
	font-size: .8em;
	padding: 10px 0;
	border: none
}
.table tr td {
	text-align: center;
	width: 25% !important;
	padding: 25px 10px;
	border: none;
	font-weight: 300
}
.table tr td span {
	font-size: 12px
}
.table tr td small, .table tr th small {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 15px;
	-webkit-border-radius: 15px
}
.table tr td b, .table tr td strong {
	font-weight: 700
}
.social {
	display: block
}
.social li {
	margin: 15px 10px;
	list-style: none;
	display: inline-block
}
.social li a i {
	font-size: 1.25em
}
/* show house*/
.update img {
	margin: 0 10px 0 0 !important
}
/*plans*/
.fplan {
	margin: 25px 15px !important;
	border-top: 2px solid #005ca6
}
.fplan img {
	display: block;
	width: 100%;
	height: auto
}
.fplan p {
	font-size: 1em;
	padding: 15px;
	line-height: 1.5;
	display: block;
	text-align: center
}
.brands img {
	margin: 25px 10px !important
}
/*list*/
.ul {
	display: block;
	list-style: none;
	margin: 15px 0
}
.ul li {
	display: block;
	font-size: 1.1em;
	margin: 10px 0;
	line-height:23px;
	position: relative;
	margin-left: 30px
}
.ul li:before {
	content: "\e90f";
	font-family: 'icomoon' !important;
	color: #4db848;
	position: absolute;
	left: -30px
}
/* query */
.enquiry {
	position: fixed;
	z-index: 11;
	width: 90%;
	max-width: 200px;
	padding: 25px;
	right: 20px;
	bottom: 0;
	display: none;
	box-shadow: 0 5px 37px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 1px 37px rgba(0,0,0,.4)
}
.formtitle {
	font-size: 1em;
	line-height: 1;
	display: none
}
.enquiry .closeit {
	font-size: .8em;
	line-height: 1;
	top: 10px;
	right: 10px;
	position: absolute;
	cursor: pointer;
	border-radius: 15px
}
.inputxt {
	background: none;
	border: none;
	font-size: 1em;
	border-bottom: 2px solid #fff;
	padding: 0 0 0 30px;
	line-height: 40px;
	width: 100%;
	color: #fff
}
input {
	box-sizing: border-box
}
.btn-submit {
	width: 100%;
	font-size: 1em;
	line-height: 42px;
	cursor: pointer;
	border: none;
	text-align: center;
	transition: all 0.5s ease;
	color: #fff;
	background: #e52c58
}
.enquire-button {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: -25px;
	left: -25px;
	z-index: 1001
}
.enquire-button i {
	font-size: 24px;
	line-height: 50px
}
.shake {
	animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite
}
@keyframes shake {
5%, 45% {
transform: translate3d(-1px, 0, 0);
}
10%, 40% {
transform: translate3d(2px, 0, 0);
}
15%, 25%, 35% {
transform: translate3d(-2px, 0, 0)
}
20%, 30% {
transform: translate3d(2px, 0, 0);
}
50% {
transform: translate3d(0, 0, 0);
}
100% {
transform: translate3d(0, 0, 0);
}
}
.getintouch {
	margin: 25px auto
}
.myform {
	display: block;
	margin-top: 25px
}
.myform .formtitle {
	font-size: 2em
}
.form-section {
	width: 47%;
	margin: 0 3% 3% 0;
	position: relative
}
.form-section2 {
	width: 100%;
	margin: 0 0 15px 0;
	position: relative
}
.form-section3 {
	width: 22%;
	margin: 0 3% 3% 0;
	position: relative
}
.form-section i, .form-section2 i, .form-section3 i {
	position: absolute;
	left: 2px;
	top: 0;
	line-height: 40px;
	font-size: 1em
}
input.error, textarea.error, select.error, .textbox.error {
	border: 2px solid #ff6969 !important;
	color: #fff
}
input.error:focus, textarea.error:focus, select.error:focus, .textbox.error:focus {
	border: 0;
	color: #fff
}
 .inputxt::-webkit-input-placeholder {
color: #fff
}
.inputxt:-moz-placeholder {
color: #fff
}
.inputxt::-moz-placeholder {
color: #fff
}
.inputxt:-ms-input-placeholder {
color: #fff
}
.footlink {
	display: block
}
.footlink li {
	display: inline-block;
	padding: 0 15px;
	line-height: 1;
	border-right: 1px solid #888
}
.footlink li:last-child {
	border: none
}
.footlink li a {
	display: block;
	color: #fff
}
.scrollup {
	font-size: 10px;
	color: #f3bd37;
	background: #000;
	border: 1px solid #f3bd37;
	line-height: 1;
	padding: 10px;
	position: fixed;
	z-index: 4;
	bottom: 5px;
	left: 20px;
	display: none;
	z-index: 2
}
.scrollup i {
	font-size: 24px;
	line-height: 20px
}
 @media screen and (min-width: 240px) and (max-width: 1024px) {
.container {
	padding: 1.5em
}
.container3 {
	padding: 1em
}
.col-80, .col-75, .col-70, .col-65, .col-60, .col-50, .col-40 {
	width: 100%
}
.col-35, .col-30, .col-25, .col-20 {
	width: 50%
}
h1, h2, h3, h4, h5, .title {
	font-size: 1.2em
}
.mob-header {
	width: 90% !important
}
.stats li {
	float: none;
	margin: 0 0 25px 0;
	height: auto;
	width: 100%
}
.pstatus {
	width: 100%;
	margin: 0 0 15px 0;
	line-height: 2
}
.form-section, .form-section2, .form-section3 {
	width: 100%;
	margin: 0 0 5% 0;
	position: relative
}
blockquote {
	font-size: 1.2em
}
.specs {
	padding: 0 0 10px 0;
	width: 100%;
	margin: 0 0 5% 0
}
.col-33 {
	width: 100%
}
.bigtxt {
	font-size: 2.5em
}
.enquiry {
	left: 50%;
	transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	width: 75%;
	padding: 15px
}
.formtitle {
	font-size: 1em
}
}
/*icomoon*/
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?ilfp4s');
	src: url('fonts/icomoon.eot?ilfp4s#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?ilfp4s') format('truetype'), url('fonts/icomoon.woff?ilfp4s') format('woff'), url('fonts/icomoon.svg?ilfp4s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
 [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.icon-construction:before {
	content: "\e900";
}
.icon-feature:before {
	content: "\e901";
}
.icon-stats:before {
	content: "\e902";
}
.icon-money:before {
	content: "\e903";
}
.icon-gift:before {
	content: "\e904";
}
.icon-navigation:before {
	content: "\e907";
}
.icon-map:before {
	content: "\e908";
}
.icon-up:before {
	content: "\e90d";
}
.icon-play:before {
	content: "\e90e";
}
.icon-check:before {
	content: "\e90f";
}
.icon-plus:before {
	content: "\e910";
}
.icon-close:before {
	content: "\e911";
}
.icon-prev:before {
	content: "\e912";
}
.icon-down:before {
	content: "\e913";
}
.icon-next:before {
	content: "\e914";
}
.icon-call:before {
	content: "\e915";
}
.icon-email:before {
	content: "\e916";
}
.icon-mail:before {
	content: "\e917";
}
.icon-call-center:before {
	content: "\e918";
}
.icon-shop:before {
	content: "\e91a";
}
.icon-mall:before {
	content: "\e91b";
}
.icon-atherate:before {
	content: "\e91c";
}
.icon-user:before {
	content: "\e91d";
}
.icon-menu:before {
	content: "\e92b";
}
.icon-flat:before {
	content: "\e905";
}
.icon-gplus:before {
	content: "\ea8b";
}
.icon-facebook:before {
	content: "\ea90";
}
.icon-instagram:before {
	content: "\ea92";
}
.icon-twitter:before {
	content: "\ea96";
}
.icon-youtube:before {
	content: "\ea9d";
}
.icon-linkedin:before {
	content: "\eaca";
}
.icon-pinterest:before {
	content: "\ead1";
}
/*slick*/
.slider {
	width: 100%;
	margin: auto
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden
}
.slick-list:focus {
	outline: none
}
.slick-list.dragging {
	cursor: pointer;
	cursor: pointer
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block
}
.slick-track:before, .slick-track:after {
	display: table;
	content: ''
}
.slick-track:after {
	clear: both
}
.slick-loading .slick-track {
	visibility: hidden
}
.slick-slide {
	display: none;
	float: left;
	margin: 0;
	min-height: 1px
}
[dir='rtl'] .slick-slide {
	float: right
}
.slick-slide img {
	display: block
}
.slick-slide.slick-loading img {
	display: none
}
.slick-slide.dragging img {
	pointer-events: none

}
.slick-initialized .slick-slide {
	display: block
}
.slick-loading .slick-slide {
	visibility: hidden
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}
.slick-arrow.slick-hidden {
	display: none
}
.slick-loading .slick-list {
	background: #fff center center no-repeat
}
.prev {
	position: absolute;
	right: 15px;
	cursor: pointer
}
.next {
	position: absolute;
	left: 15px;
	cursor: pointer
}
.next, .prev {
	font-size: 20px;
	line-height: 1;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border: 0;
	z-index: 1;
	color: #fff;
	background: none;
	text-shadow: 0 0 5px rgba(0,0,0,1)
}
.slick-dots {
	position: absolute;
	bottom: 0;
	z-index: 11;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%
}
.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	cursor: pointer
}
.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	color: transparent;
	cursor: pointer
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #005ca6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.slick-dots li.slick-active button:before {
	color: #4db848
}
/*lightbox*/
.fancybox-enabled {
	overflow: hidden
}
.fancybox-enabled body {
	overflow: visible;
	height: 100%
}
.fancybox-is-hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden
}
.fancybox-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99993;
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}
.fancybox-container~.fancybox-container {
	z-index: 99992
}
.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}
.fancybox-outer {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}
.fancybox-bg {
	background: #1e1e1e;
	opacity: 0;
	transition-duration: inherit;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.47, 0, .74, .71)
}
.fancybox-is-open .fancybox-bg {
	opacity: .87;
	transition-timing-function: cubic-bezier(.22, .61, .36, 1)
}
.fancybox-caption-wrap, .fancybox-infobar, .fancybox-toolbar {
	position: absolute;
	direction: ltr;
	z-index: 99997;
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s, visibility 0s linear .25s;
	box-sizing: border-box
}
.fancybox-show-caption .fancybox-caption-wrap, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-toolbar .fancybox-toolbar {
	opacity: 1;
	visibility: visible;
	transition: opacity .25s, visibility 0s
}
.fancybox-infobar {
	top: 0;
	left: 50%;
	margin-left: -79px
}
.fancybox-infobar__body {
	display: inline-block;
	width: 70px;
	line-height: 44px;
	font-size: 13px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	text-align: center;
	color: #ddd;
	background-color: rgba(30,30,30,.7);
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: subpixel-antialiased
}
.fancybox-toolbar {
	top: 0;
	right: 0
}
.fancybox-stage {
	overflow: hidden;
	direction: ltr;
	z-index: 99994;
	-webkit-transform: translateZ(0)
}
.fancybox-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	outline: none;
	white-space: normal;
	box-sizing: border-box;
	text-align: center;
	z-index: 99994;
	-webkit-overflow-scrolling: touch;
	display: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.fancybox-slide:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0
}
.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
	display: block
}
.fancybox-slide--image {
	overflow: visible
}
.fancybox-slide--image:before {
	display: none
}
.fancybox-slide--video .fancybox-content, .fancybox-slide--video iframe {
	background: #000
}
.fancybox-slide--map .fancybox-content, .fancybox-slide--map iframe {
	background: #e5e3df
}
.fancybox-slide--next {
	z-index: 99995
}
.fancybox-slide>div {
	display: inline-block;
	position: relative;
	padding: 24px;
	margin: 44px 0;
	border-width: 0;
	vertical-align: middle;
	text-align: left;
	background-color: #fff;
	overflow: auto;
	box-sizing: border-box
}
.fancybox-slide .fancybox-image-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 99995;
	background: transparent;
	cursor: default;
	overflow: visible;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.fancybox-can-zoomOut .fancybox-image-wrap {
	cursor: zoom-out
}
.fancybox-can-zoomIn .fancybox-image-wrap {
	cursor: zoom-in
}
.fancybox-can-drag .fancybox-image-wrap {
	cursor: -webkit-grab;
	cursor: grab
}
.fancybox-is-dragging .fancybox-image-wrap {
	cursor: -webkit-grabbing;
	cursor: grabbing
}
.fancybox-image, .fancybox-spaceball {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	max-width: none;
	max-height: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.fancybox-spaceball {
	z-index: 1
}
.fancybox-slide--iframe .fancybox-content {
	padding: 0;
	width: 80%;
	height: 80%;
	max-width: calc(100% - 100px);
	max-height: calc(100% - 88px);
	overflow: visible;
	background: #fff
}
.fancybox-iframe {
	display: block;
	padding: 0;
	border: 0;
	height: 100%
}
.fancybox-error, .fancybox-iframe {
	margin: 0;
	width: 100%;
	background: #fff
}
.fancybox-error {
	padding: 40px;
	max-width: 380px;
	cursor: default
}
.fancybox-error p {
	margin: 0;
	padding: 0;
	color: #444;
	font: 16px/20px Helvetica Neue, Helvetica, Arial, sans-serif
}
.fancybox-close-small {
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 44px;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	outline: none;
	background: transparent;
	z-index: 10;
	cursor: pointer
}
.fancybox-close-small:after {
	content: "×";
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	font: 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #888;
	font-weight: 300;
	text-align: center;
	border-radius: 50%;
	border-width: 0;
	background: #fff;
	transition: background .25s;
	box-sizing: border-box;
	z-index: 2
}
.fancybox-close-small:focus:after {
	outline: 1px dotted #888
}
.fancybox-close-small:hover:after {
	color: #555;
	background: #eee
}
.fancybox-slide--iframe .fancybox-close-small {
	top: 0;
	right: -44px
}
.fancybox-slide--iframe .fancybox-close-small:after {
	background: transparent;
	font-size: 35px;
	color: #aaa
}
.fancybox-slide--iframe .fancybox-close-small:hover:after {
	color: #fff
}
.fancybox-caption-wrap {
	bottom: 0;
	left: 0;
	right: 0;
	padding: 60px 30px 0;
	background: linear-gradient(180deg, transparent 0, rgba(0,0,0,.1) 20%, rgba(0,0,0,.2) 40%, rgba(0,0,0,.6) 80%, rgba(0,0,0,.8));
	pointer-events: none
}
.fancybox-caption {
	padding: 30px 0;
	border-top: 1px solid hsla(0,0%,100%,.4);
	font-size: 14px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #fff;
	line-height: 20px;
	-webkit-text-size-adjust: none
}
.fancybox-caption a, .fancybox-caption button, .fancybox-caption select {
	pointer-events: all
}
.fancybox-caption a {
	color: #fff;
	text-decoration: underline
}
.fancybox-button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: transparent;
	color: #ddd;
	border-radius: 0;
	cursor: pointer;
	vertical-align: top;
	outline: none
}
.fancybox-button[disabled] {
	cursor: default;
	pointer-events: none
}
.fancybox-button, .fancybox-infobar__body {
	background: rgba(30,30,30,.6)
}
.fancybox-button:hover:not([disabled]) {
	color: #fff;
	background: rgba(0,0,0,.8)
}
.fancybox-button:after, .fancybox-button:before {
	content: "";
	pointer-events: none;
	position: absolute;
	background-color: currentColor;
	color: currentColor;
	opacity: .9;
	box-sizing: border-box;
	display: inline-block
}
.fancybox-button[disabled]:after, .fancybox-button[disabled]:before {
	opacity: .3
}
.fancybox-button--left:after, .fancybox-button--right:after {
	top: 18px;
	width: 6px;
	height: 6px;
	background: transparent;
	border-top: 2px solid currentColor;
	border-right: 2px solid currentColor
}
.fancybox-button--left:after {
	left: 20px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg)
}
.fancybox-button--right:after {
	right: 20px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.fancybox-button--left {
	border-bottom-left-radius: 5px
}
.fancybox-button--right {
	border-bottom-right-radius: 5px
}
.fancybox-button--close:after, .fancybox-button--close:before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 2px;
	width: 16px;
	top: calc(50% - 1px);
	left: calc(50% - 8px)
}
.fancybox-button--close:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.fancybox-button--close:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.fancybox-arrow {
	position: absolute;
	top: 50%;
	margin: -50px 0 0;
	height: 100px;
	width: 54px;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	cursor: pointer;
	z-index: 99995;
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: opacity .25s
}
.fancybox-arrow:after {
	content: "";
	position: absolute;
	top: 28px;
	width: 44px;
	height: 44px;
	background-color: rgba(30,30,30,.8);
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 24px 24px
}
.fancybox-arrow--right {
	right: 0
}
.fancybox-arrow--left {
	left: 0;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1)
}
.fancybox-arrow--left:after, .fancybox-arrow--right:after {
	left: 0
}
.fancybox-show-nav .fancybox-arrow {
	opacity: .6
}
.fancybox-show-nav .fancybox-arrow[disabled] {
	opacity: .3
}
.fancybox-slide>.fancybox-loading {
	border: 6px solid hsla(0,0%,39%,.4);
	border-top: 6px solid hsla(0,0%,100%,.6);
	border-radius: 100%;
	height: 50px;
	width: 50px;
	-webkit-animation: a .8s infinite linear;
	animation: a .8s infinite linear;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	z-index: 99999
}
@-webkit-keyframes a {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg)
}
}
@keyframes a {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg)
}
}
.fancybox-animated {
	transition-timing-function: cubic-bezier(0, 0, .25, 1)
}
.fancybox-fx-slide.fancybox-slide--previous {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	opacity: 0
}
.fancybox-fx-slide.fancybox-slide--next {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	opacity: 0
}
.fancybox-fx-slide.fancybox-slide--current {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	opacity: 1
}
.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
	opacity: 0;
	transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}
.fancybox-fx-fade.fancybox-slide--current {
	opacity: 1
}
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
	-webkit-transform: scale3d(1.5, 1.5, 1.5);
	transform: scale3d(1.5, 1.5, 1.5);
	opacity: 0
}
.fancybox-fx-zoom-in-out.fancybox-slide--next {
	-webkit-transform: scale3d(.5, .5, .5);
	transform: scale3d(.5, .5, .5);
	opacity: 0
}
.fancybox-fx-zoom-in-out.fancybox-slide--current {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	opacity: 1
}
.fancybox-fx-rotate.fancybox-slide--previous {
	-webkit-transform: rotate(-1turn);
	transform: rotate(-1turn);
	opacity: 0
}
.fancybox-fx-rotate.fancybox-slide--next {
	-webkit-transform: rotate(1turn);
	transform: rotate(1turn);
	opacity: 0
}
.fancybox-fx-rotate.fancybox-slide--current {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	opacity: 1
}
.fancybox-fx-circular.fancybox-slide--previous {
	-webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
	transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
	opacity: 0
}
.fancybox-fx-circular.fancybox-slide--next {
	-webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
	transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
	opacity: 0
}
.fancybox-fx-circular.fancybox-slide--current {
	-webkit-transform: scaleX(1) translateZ(0);
	transform: scaleX(1) translateZ(0);
	opacity: 1
}
.fancybox-fx-tube.fancybox-slide--previous {
	-webkit-transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
	transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg)
}
.fancybox-fx-tube.fancybox-slide--next {
	-webkit-transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
	transform: translate3d(100%, 0, 0) scale(.1) skew(10deg)
}
.fancybox-fx-tube.fancybox-slide--current {
	-webkit-transform: translateZ(0) scale(1);
	transform: translateZ(0) scale(1)
}
@media (max-width:800px) {
.fancybox-infobar {
	left: 0;
	margin-left: 0
}
.fancybox-button--left, .fancybox-button--right {
	display: none!important
}
.fancybox-caption {
	padding: 20px 0;
	margin: 0
}
}
.fancybox-button--fullscreen:before {
	width: 15px;
	height: 11px;
	left: calc(50% - 7px);
	top: calc(50% - 6px);
	border: 2px solid;
	background: none
}
.fancybox-button--pause:before, .fancybox-button--play:before {
	top: calc(50% - 6px);
	left: calc(50% - 4px);
	background: transparent
}
.fancybox-button--play:before {
	width: 0;
	height: 0;
	border-top: 6px inset transparent;
	border-bottom: 6px inset transparent;
	border-left: 10px solid;
	border-radius: 1px
}
.fancybox-button--pause:before {
	width: 7px;
	height: 11px;
	border-style: solid;
	border-width: 0 2px
}
.fancybox-button--thumbs, .fancybox-thumbs {
	display: none
}
@media (min-width:800px) {
.fancybox-button--thumbs {
	display: inline-block
}
.fancybox-button--thumbs span {
	font-size: 23px
}
.fancybox-button--thumbs:before {
	width: 3px;
	height: 3px;
	top: calc(50% - 2px);
	left: calc(50% - 2px);
	box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, inset 0 0 0 32px, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0
}
.fancybox-thumbs {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	width: 220px;
	margin: 0;
	padding: 5px 5px 0 0;
	background: #fff;
	word-break: normal;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	z-index: 99995
}
.fancybox-show-thumbs .fancybox-thumbs {
	display: block
}
.fancybox-show-thumbs .fancybox-inner {
	right: 220px
}
.fancybox-thumbs>ul {
	list-style: none;
	position: absolute;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 0
}
.fancybox-thumbs>ul>li {
	float: left;
	overflow: hidden;
	max-width: 50%;
	padding: 0;
	margin: 0;
	width: 105px;
	height: 75px;
	position: relative;
	cursor: pointer;
	outline: none;
	border: 5px solid transparent;
	border-top-width: 0;
	border-right-width: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-sizing: border-box
}
li.fancybox-thumbs-loading {
	background: rgba(0,0,0,.1)
}
.fancybox-thumbs>ul>li>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	max-height: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.fancybox-thumbs>ul>li:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 2px;
	border: 4px solid #4ea7f9;
	z-index: 99991;
	opacity: 0;
	transition: all .2s cubic-bezier(.25, .46, .45, .94)
}
.fancybox-thumbs>ul>li.fancybox-thumbs-active:before {
	opacity: 1
}
}
/* CSS Document */

